/* Prevent problems with different browsers */
* {box-sizing: border-box;}

.karla-extralight {
    font-family: "Karla", serif;
    font-weight: 200;
    font-style: normal;
}

.karla-light {
    font-family: "Karla", serif;
    font-weight: 300;
    font-style: normal;
}

.karla-regular {
    font-family: "Karla", serif;
    font-weight: 400;
    font-style: normal;
}

.karla-medium {
    font-family: "Karla", serif;
    font-weight: 500;
    font-style: normal;
}

.karla-semibold {
    font-family: "Karla", serif;
    font-weight: 600;
    font-style: normal;
}

.karla-bold {
    font-family: "Karla", serif;
    font-weight: 700;
    font-style: normal;
}

.karla-extrabold {
    font-family: "Karla", serif;
    font-weight: 800;
    font-style: normal;
}

body {
    font-family: "Karla", serif;
    font-weight: 300;
    font-style: normal;
    margin: 0;
}

/* Header section styling */
header {
    padding: 1rem 2vw;
    display: flex;
    align-items: center;
}

header img {
    margin-right: 12px;
}

header h1 {
    margin: 0;
    color: #7B002C;
    letter-spacing: .5px;
    font-weight: 700;
    font-size: 2rem;
}

header p {
    margin: 0;
    padding-top: 3px;
    color: #40002B;
    font-weight: 400;
    font-size: .85rem;
    font-style: italic;
}

/* Nav section styling */

/* Small screen format */
@media only screen and (max-width: 600px) {
    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0 2vw;
    }

    nav a {
        text-decoration: none;
        display: block;
        padding: .8rem;
        font-weight: 500;
        text-transform: uppercase;
        text-align: center;
        border-bottom: 1px solid #8F5100;
        color: #7B002C;
    }

    nav .active a {
        background-color: #7B002C;
        background-image: linear-gradient(to bottom, #7B002C, #40002B);
        color: white;
    }
}
/* End to media query */

/* Large screen format */
@media only screen and (min-width: 601px) {
    nav {
        border-top: 1px solid #8F5100;
        border-bottom: 1px solid #8F5100;
    }

    nav ul {
        list-style-type: none;
        padding: 4px 2vw;
        margin: 0;
        display: flex;
        gap: 50px;
    }
    
    nav a {
        font-size: 1.1rem;
        text-decoration: none;
        color: #383838;
        font-weight: 400;
        display: block;
        padding: .83rem 0;
    }
    
    nav .active a {
        color: #7B002C;
        font-weight: 700;
    }
    
    nav a:hover {
        color: #8F5100;
        font-weight: 700;
    }
}
/* End to media query */

/* Main section styling */
main {
    padding: 1rem 2vw;
}

main h1 {
    color: black;
}

main h2 {
    color: #7B002C;
    margin-bottom: .2rem;
}

main h3 {
    color: #40002B;
    margin-bottom: .2rem;
}

main p {
    color: #383838;
    margin: 0;
}

main ul {
    list-style-type: circle;
}

main ul li {
    line-height: 125%;
    margin-bottom: .5rem;
    font-size: .9rem;
}

main ol {
    padding: .5rem 30px;
    background-color: #FCF6EC;
}

main dl dt {
    color: #8F5100;
    font-weight: 700;
}

main dl dd {
    color: #40002B;
    font-size: .9rem;
    margin-left: 30px;
}

main a {
    color: #7B002C;
}

main a:hover {
    color: #FF9999;
}

figure.wrapped {
    width: 30%;
    margin: 0 0 0 2%;
    float: right;
}

figure.wrapped img {
    width: 100%;
    height: auto;
}

figure.wrapped figcaption {
    text-align: center;
    font-size: .8rem;
    font-weight: 400;
    color: #8F5100;
}

div.gallery {
    display: flex;
    flex-wrap: wrap;
}

div.gallery figure {
    margin: .5rem 2% 0 0;
}

div.gallery figcaption {
    text-align: center;
    margin-top: 2px;
    font-size: .8rem;
    font-weight: 400;
    color: #8F5100;
}

div.gallery img {
    width: 98%;
    height: auto;
    display: block;
}

div.gallery img:hover {
    width: 98%;
    height: auto;
    box-shadow: 0px 3px 12px 3px rgba(140, 149, 159, .3);
    opacity: .8;
}

.hero {
    width: 100%;
    margin: 0;
}

.hero img {
    width: 100%;
    height: auto;
    margin: 0;
}

table {
    width: 100%;
    margin-top: 1rem;
    border-collapse: collapse;
}

table th {
    background-color: #FCF6EC;
    border-top: 1px solid #8F5100;
    border-bottom: 1px solid #8F5100;
    color: #8F5100;
    padding: .5rem 2vw;
    text-align: left;
}

table td {
    color: #7B002C;
    padding: .4rem 2vw;
}

table tr:nth-child(odd) {
    background-color: #F5F5F5;
}

table tr:hover {
    background-color: rgba(123, 0, 44, .1);
}

/* Form styling */
.myform fieldset {
    border: 1px solid #8F5100;
    border-radius: .3rem;
    margin-bottom: 1rem;
}

.myform legend {
    color: #8F5100;
    font-size: .8rem;
}

.myform label, select, [type=text], [type=email], [type=tel], textarea {
    display: block;
}

.myform label {
    margin: .8rem;
}

.myform [type=text], [type=email], [type=tel], select, textarea {
    border: 1px solid #CCCCCC;
    padding: .5rem;
    width: 360px;
    border-radius: .2rem;
    font-family: "Karla", serif;
    font-weight: 200;
}

.myform [type=radio], [type=checkbox] {
    vertical-align: text-top;
    margin-right: 10px;
}

.myform textarea {
    height: 6rem;
}

.myform :required {
    background-color: #FCF6EC;
}

.myform [type=submit] {
    background-color: #7B002C;
    color: white;
    border: none;
    padding: 1rem 2rem;
    border-radius: 3px;
    margin: 1rem 0 0 1vw;
    font-size: 0.9rem;
}

/* Footer section styling */
footer {
    border-top: 1px solid #383838;
    text-align: center;
    color: black;
    padding: 1rem 2vw;
    font-size: .8rem;
    clear: both;
}

header, nav, main, footer {
    max-width: 64rem;
    margin: 0 auto;
}